.checkbox-container {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

.setting-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 10px 0;
}

.setting-item>label {
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 4px;
}

.setting-item-checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.setting-item-checkbox>label {
    opacity: .7;
    margin-left: 2px;
}

.indented-item {
    margin-left: 30px;
}

.indented-item>label {
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 4px;
}