:root {
    /* Greyscale for Light Mode */
    --color-grey-05: #fbfbfe;
    --color-grey-10: #f9f9fb;
    --color-grey-20: #f0f0f4;
    --color-grey-30: #e0e0e6;
    --color-grey-40: #cfcfd8;
    --color-grey-50: #bfbfc9;

    /* Light Mode Defaults */
    --bg-layer1: #f9f9fb;
    --bg-layer2: #ffffff;
    --bg-layer3: #ededed;

    --text-primary: #15141a;
    --text-secondary: #5b5b66;

    --active: #0260df;
    --disabled: rgba(21, 20, 26, 0.4);
    --error: #c50042;
    --border: #e0e0e6;
    --break: #c4c4c5;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Greyscale for Dark Mode */
        --color-grey-05: #5b5b66;
        --color-grey-10: #52525e;
        --color-grey-30: #42414d;
        --color-grey-40: #3a3944;
        --color-grey-60: #2b2a33;
        --color-grey-80: #1c1b22;
        --color-grey-90: #15141a;

        /* Dark Mode Defaults */
        --bg-layer1: #2b2a33;
        --bg-layer2: #42414d;
        --bg-layer3: #1c1b22;

        --text-primary: #fbfbfe;
        --text-secondary: #cfcfd8;

        --active: #00ddff;
        --disabled: rgba(251, 251, 254, 0.4);
        --error: #ff9aa2;
        --break: #71707a;
    }

    .options {
        background-color: #23222b;
        padding: 10px 10px;
    }

    .popup-content {
        background-color: var(--color-grey-30);
    }
}
body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.popup-content {
    width: 150px;
    padding: 10px 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.break {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--break);
    margin: 15px 0;
}

.toggle {
    appearance: none;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 3.2em;
    height: 1.6em;
    cursor: pointer;
    border-radius: 1em;
    overflow: hidden;
    background-color: var(--bg-layer1);
    transition: background ease 0.5s;
    border: 1px solid grey;
    padding: 0;
    margin-top: 15px;
}

.toggle:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0.2em;
    transform: translateY(-50%);
    z-index: 2;
    width: 1em;
    height: 1em;
    background: #8f8f9d;
    border-radius: 50%;
    transition: transform cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.toggle:checked {
    background-color: var(--active);
    border: 1px solid var(--active);
}

.toggle:checked:before {
    background-color: var(--bg-layer3);
    transform: translate(1.7em, -50%);
}

.setting-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.setting-col > img {
    position: relative;
    left: 21px;
    width: 246px;
    height: 47px;
    object-fit: cover;
    margin: 15px 0;
}

.setting-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.setting-row > input {
    accent-color: var(--active);
    margin: 0;
}

.setting-header {
    color: var(--text-primary);
    font-weight: bold;
    margin: 5px 0;
}

.setting-name {
    color: var(--text-primary);
    font-size: 14px;
    margin-left: 8px;
}

.setting-description {
    position: relative;
    bottom: 8px;
    left: 22px;
    color: var(--text-secondary);
    font-size: 12px;
}
