:root {
    --bg-layer1: #f9f9fb;
    --bg-layer2: #ededed;
    --bg-options: #ffffff;
    --bg-popup: #ffffff;
    --bg-button: #eeeeef;
    --text-primary: #15141a;
    --text-secondary: #5b5b66;
    --active: #0260df;
    --disabled: rgba(21, 20, 26, 0.4);
    --break: #c4c4c5;
    --button-hover: #dededf;
    --link-hover: #0153ca;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-layer1: #2b2a33;
        --bg-layer2: #1c1b22;
        --bg-options: #23222b;
        --bg-popup: #42414d;
        --bg-button: #2c2b32;
        --text-primary: #fbfbfe;
        --text-secondary: #cfcfd8;
        --active: #00ddff;
        --disabled: rgba(251, 251, 254, 0.4);
        --break: #71707a;
        --button-hover: #3b3a41;
        --link-hover: #62dce9;
    }
}
html {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
    background-color: var(--bg-button);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0px;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

a {
    color: var(--active);
    font-size: 15px;
}

a:hover {
    color: var(--link-hover);
}

.disabled {
    color: var(--disabled);
}

.popup {
    background-color: var(--bg-popup);
    width: 150px;
    padding: 10px 10px;
}

.options {
    background-color: var(--bg-options);
    padding: 10px 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > img {
    margin: 15px 0;
}

.break {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--break);
    margin: 15px 0;
}

.toggle {
    appearance: none;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 3.2em;
    height: 1.6em;
    cursor: pointer;
    border-radius: 1em;
    overflow: hidden;
    background-color: var(--bg-layer1);
    transition: background ease 0.5s;
    border: 1px solid grey;
    padding: 0;
    margin: 15px 0;
}

.toggle:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0.2em;
    transform: translateY(-50%);
    z-index: 2;
    width: 1em;
    height: 1em;
    background: #8f8f9d;
    border-radius: 50%;
    transition: transform cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.toggle:checked {
    background-color: var(--active);
    border: 1px solid var(--active);
}

.toggle:checked:before {
    background-color: var(--bg-layer2);
    transform: translate(1.7em, -50%);
}

.setting-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.setting-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.setting-image {
    position: relative;
    left: 21px;
    width: 246px;
    height: 47px;
    object-fit: cover;
    margin: 15px 0;
    border-radius: 5px;
}

.setting-row > input[type="checkbox"] {
    accent-color: var(--active);
    margin: 0;
}

.setting-row > input[type="checkbox"]:hover {
    cursor: pointer;
}

.setting-name {
    color: var(--text-primary);
    font-size: 15px;
    margin-left: 8px;
}

.setting-name:hover {
    cursor: pointer;
}

.setting-description {
    position: relative;
    bottom: 8px;
    left: 22px;
    color: var(--text-secondary);
    font-size: 13px;
    opacity: 0.69;
}
